* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {

  background-image: url("https://wallpaperaccess.com/full/3949076.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  margin: auto;

}



.App {
  display: grid;
  margin: 0 auto;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
}

.input-container {
  padding: 0.2rem;
  margin: 0.2rem;

}

input {

  border-radius: 5px;
  padding: 5px;
  margin: 0.2rem;
  /* column-rule-color: #cfcfcf; */
  background: #d5d5d5;
  color: #100000;
}




.users-form {
  margin: auto;
  padding: 1rem;
  text-align: left;
  box-shadow: 2px 1px 5px 2px #cfcfcf;
  border-radius: 10px;
  height: 350px;
  background-image: url("https://t4.ftcdn.net/jpg/00/81/32/45/360_F_81324535_JCfbuvzOsk90FIiBmEZfp64ovkII4nxE.jpg");
  background-size: cover;


}

h3 {

  text-align: end;

}

h2 {
  text-align: left;
  padding: 0.5rem;
  color: #202c2c;
  border-radius: 10px;
}


li {

  box-sizing: border-box;
  background: #baebe9;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  box-shadow: 10px 5px 25px 0px #d3c0c0;
  border-radius: 10px;
  color: cadetblue;
}


ul {
  /* Rectangle 4 */
  padding: 1rem;
  margin: 0;
  color: #483131;
  height: 100vh;
  width: fit-content;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 20px;
  cursor: pointer;
}

.btn-icon {
  margin-left: 30rem;
}

i {
  color: teal;
}

p {
  color: rgb(104, 61, 61);
  padding: 0.5rem;
  border-bottom-style: inset;
}

a {
  padding: 0.5rem;
}

button {
  background-color: #d3c0c0;
}

@media (max-width: 600px) {

  .users-form {
    width: fit-content;
    display: inline-grid;
    place-content: space-around;
    margin: auto;
  }

  .App {
    display: flex;
    flex-direction: column-reverse;
  }

  li {
    width: fit-content;
  }

  lu {
    width: fit-content;
  }
}

@media (max-width: 896px) {
  .App {
    display: flex;
    flex-direction: column-reverse;
  }

}

@media (max-width: 350px) {
.App {
    display: flex;
    flex-direction: column-reverse;
}
}

@media (max-width: 400px) {
  .App {
      display: flex;
      flex-direction: column-reverse;
  }
  }
